<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./DisturbBootstrapTest.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    verbose="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="true">
    <testsuite name="Disturb">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Library</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="../build/cov/clover.xml"/>
        <log type="coverage-html" target="../build/cov/cover.html"/>
    </logging>
</phpunit>
